<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461601814959-4suvlvog11c116n7ur8jd820sqc6go2q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461601814959-4suvlvog11c116n7ur8jd820sqc6go2q</string>
	<key>API_KEY</key>
	<string>AIzaSyDeiSDc1HQoJcOCsVlh5nkawWy5MO4PxKw</string>
	<key>GCM_SENDER_ID</key>
	<string>461601814959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeeven.Cyder</string>
	<key>PROJECT_ID</key>
	<string>cyder-uwohackathon</string>
	<key>STORAGE_BUCKET</key>
	<string>cyder-uwohackathon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461601814959:ios:c6f86ea328d85861b0175a</string>
</dict>
</plist>